*{
    margin: 0%;
    padding: 0%;
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.container{
    width: 80%;
    position: sticky;
    margin: 0px auto;*{
        margin: 0%;
        padding: 0%;
    }
    
    body{
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    .container{
        width: 80%;
        position: sticky;
        margin: 0px auto;
        min-height:100%;
        background-color: rgb(255, 255, 255); 
        box-sizing: border-box;
    }
    
    .head{
        display: flex;
        flex-direction: row;
        border:5px solid rgb(164, 1, 29);
        height: 10vh;
        margin: 20px auto 0px auto;
        /* vertical-align: ; */
    }
    
    input{
        padding: 20px;
        border: 1px solid rgb(2, 99, 141);
        width:80%;
        outline: none;
        box-sizing: border-box;
        font-size: 1.2rem ;
        font-family: 'Roboto', sans-serif;
        margin: auto;
        text-align: center;
    }
    
    button{
        padding:20px;
        width: 19%;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: 'Roboto', sans-serif;
        background-color: aqua;
        border: none;
        text-align: center;
        margin: 20px;
        box-sizing: border-box;
        
    
    }
    
    .tags{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .tag{
        background-color:rgb(220, 174, 10) ;
        padding: 20px;
        width: 30%;
        box-sizing: border-box;
        color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px;
        transition: all 0.5s;
        text-align: center;
        border-radius: 5px;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
        
    }
    
    .tag:hover{
        transform: translateY(-10px);
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    min-height:100%;
    background-color: rgb(255, 255, 255); 
    box-sizing: border-box;
}

.head{
    display: flex;
    flex-direction: row;
    border:5px solid rgb(164, 1, 29);
    height: 10vh;
    margin: 20px auto 0px auto;
    /* vertical-align: ; */
}

input{
    padding: 20px;
    border: 1px solid rgb(2, 99, 141);
    width:80%;
    outline: none;
    box-sizing: border-box;
    font-size: 1.2rem ;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}

button{
    padding:20px;
    width: 19%;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
    border: none;
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
    

}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag{
    background-color:rgb(220, 174, 10) ;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    transition: all 0.5s;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    
}

.tag:hover{
    transform: translateY(-10px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
